* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #0282C5;
}

#piano {
  grid-row: 1;
  grid-column: 2;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  background-color: rgb(0, 69, 179);
}

#play {
  grid-row: 1;
  grid-column: 1;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
}

#play #playBtn {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#play #start {
  font-size: 2em;
  font-style: italic;
  font-family: 'Comic sans MS';
  color: white;
  background-color: rgb(0, 69, 179);
  border: none;
  grid-row: 1;
  grid-column: 1;
  height: 50%;
  width: 50%;
  border-radius: 20%;
}

#play #rules {
  grid-row: 2;
  grid-column: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#play #rules ul {
  list-style: none;
  font-size: 1em;
  font-style: italic;
  font-family: 'Comic sans MS';
}

#score {
  grid-row: 1;
  grid-column: 3;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
}

#score #affichePoint {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#score #countDown {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#score p {
  font-size: 12em;
  font-style: italic;
  font-family: 'Comic sans MS';
}


.rect {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: black;
}

.tile1 {
  grid-row: 1;
  grid-column: 1;
}

.tile2 {
  grid-row: 1;
  grid-column: 2;
}

.tile3 {
  grid-row: 1;
  grid-column: 3;
}

.tile4 { 
  grid-row: 1;
  grid-column: 4;
}

.tile5 {
  grid-row: 1;
  grid-column: 5;
}
